# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
gradle
gradlew
*.gradle

# other
eclipse
run
*.bat
*changelog.txt
CREDITS.txt
README.txt
LICENSE.txt

# Files from Forge MDK
forge*changelog.txt
